* {
    margin: 0;
    padding: 0;
}


body {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
}

nav.navbar {
    background-color: #ffffff;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 24px;
}

.nav-link {
    font-size: 18px;
}

section {
    padding: 60px 0;
}

section.bg-light {
    background-color: #f8f9fa;
}

h1,
h2,
h4 {
    color: #343a40;
}

p {
    color: #6c757d;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.tc {
    margin-top: 100px;
}

.possibilities {
    max-width: 100%;
    max-height: 120px;
    /* Замените это значение на нужную вам высоту */
    display: block;
    margin: 0 auto;
}

/* Стили для прелоадера */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Стили для прелоадера */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* FOOTER */
/* Стили для списков в колонках футера */
.specialization-list,
.support-list {
    list-style: none;
    padding: 0;
}

.specialization-list li,
.support-list li {
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Добавление иконок к спискам */
.specialization-list li i,
.support-list li i {
    margin-right: 10px;
}

p {
    color: #6c757d;
}

/* Формы */

.form-check {
    padding: 10px;
}

#findButton {
    margin-top: 10px;
}

#filterForm {
    max-width: 800px;
    margin: 0 auto;
}



/* Таблица */
/* Таблица */
.table-responsive {
    width: 100%;
    overflow-x: auto; /* Включение горизонтальной прокрутки при необходимости */
    margin: 0 auto; /* Центрирование таблицы по горизонтали */
}


.table {
    width: 100%; /* Измените ширину таблицы на 100% */
    max-width: none; /* Отключите максимальную ширину */
    margin: 0 auto; /* Центрируйте таблицу по горизонтали */
}


